name: Build
on:
  workflow_call:
    inputs:
      team:
        required: true
        type: string
        default: omsorgspenger
      dockercontext:
        required: false
        type: string
        default: .
      readertoken:
        required: false
        type: boolean
        default: false
      buildcommand:
        required: false
        type: string
        default: --configuration-cache build shadowjar -x test
      javaversion:
        required: false
        type: string
        default: 21
    outputs:
      image:
        value: ${{ jobs.build.outputs.image }}
jobs:
  build:
    permissions:
      contents: write # for dependency submission
      id-token: write # for nais/docker-build-push
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v3
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # ratchet:gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # ratchet:actions/setup-java@v5
        with:
          java-version: ${{ inputs.javaversion }}
          distribution: corretto
          cache: gradle
      - uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # ratchet:gradle/gradle-build-action@v3.5.0
        env:
          DEPENDENCY_GRAPH_INCLUDE_CONFIGURATIONS: compileClasspath|runtimeClasspath # Eksluderer test dependencies
          GITHUB_TOKEN: ${{ (inputs.readertoken && secrets.READER_TOKEN) || secrets.GITHUB_TOKEN }}
        with:
          dependency-graph: generate-and-submit
          arguments: ${{ inputs.buildcommand }}
      - uses: nais/docker-build-push@87f920b0411b987d9a1fd4113aa384e1e3b54f2c
        id: docker-push
        with:
          team: ${{ inputs.team }}
          push_image: true
          tag: latest
          pull: true
          dockerfile: Dockerfile
          docker_context: ${{ inputs.dockercontext }}
