name: Run test & build docker image
on:
  workflow_call:
    inputs:
      readertoken:
        required: false
        type: boolean
        default: false
      buildcommand:
        required: false
        type: string
        default: ./gradlew test shadowjar
      javaversion:
        required: false
        type: string
        default: 21

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # ratchet:gradle/wrapper-validation-action@v3
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # ratchet:actions/setup-java@v5
        with:
          java-version: ${{ inputs.javaversion }}
          distribution: corretto
          cache: gradle
      - name: run test command
        run: ${{ inputs.buildcommand }}
        env:
          GITHUB_TOKEN: ${{ (inputs.readertoken && secrets.READER_TOKEN) || secrets.GITHUB_TOKEN }}
      - name: Upload build reports & test-results
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # ratchet:actions/upload-artifact@v7.0.0
        if: always()
        with:
          name: build-reports
          path: |
            **/build/reports/
            **/build/test-results/
          retention-days: 1
