name: Deploy image
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      environment:
        required: false
        type: string
        default: gcp
      deploy-prod:
        required: false
        type: boolean
        default: false
env:
  IMAGE: ${{ inputs.image }}
jobs:
  deploy:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5.0.0
      - name: Deploy til dev-${{ inputs.environment }}
        uses: nais/deploy/actions/deploy@7e3c2dd373a307827e55a757b5f3b51e9fe352d5 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-${{ inputs.environment }}
          RESOURCE: nais/naiserator.yaml
          VARS: nais/dev-${{ inputs.environment }}.json
      - name: Deploy til prod-${{ inputs.environment }}
        if: ${{ inputs.deploy-prod }}
        uses: nais/deploy/actions/deploy@7e3c2dd373a307827e55a757b5f3b51e9fe352d5 # ratchet:nais/deploy/actions/deploy@v2
        env:
          RESOURCE: nais/naiserator.yaml
          CLUSTER: prod-${{ inputs.environment }}
          VARS: nais/prod-${{ inputs.environment }}.json
