name: Run test & build docker image
on:
  workflow_call:
    inputs:
      readertoken:
        required: false
        type: boolean
        default: false
      buildcommand:
        required: false
        type: string
        default: ./gradlew test shadowjar
      javaversion:
        required: false
        type: string
        default: 21

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # ratchet:gradle/wrapper-validation-action@v3
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: ${{ inputs.javaversion }}
          distribution: corretto
          cache: gradle
      - name: run test command
        run: ${{ inputs.buildcommand }}
        env:
          GITHUB_TOKEN: ${{ (inputs.readertoken && secrets.READER_TOKEN) || secrets.GITHUB_TOKEN }}
      - name: Upload build reports & test-results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        if: always()
        with:
          name: build-reports
          path: |
            **/build/reports/
            **/build/test-results/
          retention-days: 1
