name: Maven Dependency Submission
on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        description: Java SDK versjon som skal brukes.
        default: '21'
      directory:
        required: false
        type: string
        description: mappe for pom fila som skal brukes

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4
      - name: Setup java and maven
        uses: navikt/sif-gha-workflows/.github/actions/maven/setup-java-and-maven@main # ratchet:exclude
        with:
          github-token: ${{ (github.actor != 'dependabot[bot]' && secrets.READER_TOKEN) || secrets.GITHUB_TOKEN }}
          java-version: ${{ inputs.java-version }}
      - name: Generate build version
        id: generate-build-version
        shell: bash
        run: echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT
      - name: Print build version
        shell: bash
        run: echo "Generated build-version is ${{ steps.generate-build-version.outputs.build-version }}"
      - name: Build artifacts
        shell: bash
        run: |
          echo "Building artifacts ${{ steps.generate-build-version.outputs.build-version }}"
          mvn versions:set -DnewVersion="${{ steps.generate-build-version.outputs.build-version }}" -s settings.xml -q -e -B -f "${{ inputs.directory || '.' }}/pom.xml"
      - name: Submit Dependency Snapshot to Github Security
        uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8 # ratchet:advanced-security/maven-dependency-submission-action@v5.0.0
        with:
          settings-file: ${{ github.workspace }}/settings.xml
          maven-args: -DskipTests
          directory: '${{ inputs.directory || github.workspace }}'
