name: Trivy
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      team:
        required: true
        type: string
      upload-sarif:
        required: false
        type: boolean
        default: true
jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to write sarif
      security-events: write # push sarif to github security
      id-token: write # for nais/login
      actions: read # for private repositories
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6.0.2
      - uses: nais/login@e7cf2c159677dc7c7d599feff5f808f2bf59c7cf # ratchet:nais/login@v0
        with:
          team: ${{ inputs.team }}
      - name: Pull docker image
        run: docker pull ${{ inputs.image }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # ratchet:aquasecurity/trivy-action@0.34.1
        with:
          image-ref: '${{ inputs.image }}'
          format: 'sarif'
          output: 'trivy.sarif'
          severity: 'HIGH,CRITICAL'
          limit-severities-for-sarif: true
      - name: Upload results to GitHub Security
        if: inputs.upload-sarif
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # ratchet:github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy.sarif'
